.container-wrapper {
    width: 88%;
    height: 100%;
    margin: 56px 68px auto;
}

.cover {
    height: 384px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.film-title {
  color: white;
  font-family: sans;
}

.film-details {
  color: rgb(122, 122, 122)
}

.summary {
    color:rgb(168, 168, 168);
    font-family: sans-serif;
}

/* Left column */
.detail-rightcolumn {   
  float: left;
  width: 75%;
  padding-right: 20px;
}

/* Right column */
.detail-leftcolumn {
  float: left;
  width: 25%;
  padding-right: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: black;
   padding: 20px;
   margin-top: 20px;
   border-radius: 0.8rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h5 {
  color: #aaa;
}