.container-wrapper {
    width: 88%;
    height: 100%;
    margin: 56px 68px auto;
}

.cover {
    height: 387px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.film-title {
  color: white
}

.film-details {
  color: rgb(122, 122, 122)
}

.review-text {
    color:rgb(168, 168, 168);
    font-family: sans-serif;
}

.content-wrap {
    width: 950px;
    margin: 0 auto;
    padding-top: 90px;
}

/* Left column */
.rightcolumn {   
  float: left;
  width: 75%;
  padding-left: 20px;
}

/* Right column */
.leftcolumn {
  float: left;
  width: 25%;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: black;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.height100 {
    height: 100px;
}

.height200 {
    height: 200px;
}

h5 {
  color: #aaa;
}