.info-block {
  margin: auto;
  max-width: 1600px;
}

.cover {
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  position: relative;
  width: 100%;
  float: right;
  margin-top: 10px;
  max-width: 400px;
}

.film-title {
  color: white;
  font-family: sans;
}

.film-details {
  color: #ff2a5b;
  border-bottom: 1px solid #1c1a22;
  padding-bottom: 10px;
}

.summary {
    color:rgb(168, 168, 168);
    text-align: justify;
    font-weight: 400;
}

/* Left column */
.detail-rightcolumn {   
  float: left;
  width: 75%;
  padding-right: 20px;
}

/* Right column */
.detail-leftcolumn {
  float: left;
  width: 25%;
  padding-right: 20px;
  padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h5 {
  color: #aaa;
}

.expand-icon {
  color: white;
}

.expand-icon:hover {
  color: red;
}

.expand-row {
  display: flex;
  align-items: right;
  justify-content: space-between;
  position: relative;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}

.right-like {
    position: absolute !important;
    right: 40px;
}

.review-item {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.icons-area {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.limited-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.detail-rightcolumn .card:first-child {
  background: #131213;
  /* color: aqua !important; */
}
.detail-rightcolumn .card:first-child * {
  /* background: #131213; */
  color: a !important;
}