
.wrapper{
    background: rgba(19 18 19 /0.8);
    min-height: 100%;
    padding-top: 100px;
}

.profile-block{
    margin: auto;
    max-width: 840px;
    /* background: #1c1b1f; */
    /* background: #131213; */
    border: 2px solid #22202b;
    font-family: system-ui;
}

.profile-block .imgsection{
    padding: 25px;
    position: relative;
    min-height: 200px;
}

.profile-block .txtsection{
    padding: 5px 25px 25px 25px;
    position: relative;
}

.profile-block .switchsection{
    position: relative;
}

.switchsection div{
    display: inline-block;
    padding: 10px 25px 10px 25px;
    /* border-bottom: 1px solid #2f2929; */
    width: 50%;
}

.switchsection div:hover{
    background-color: #1c1b1f;
}

.switchsection div:hover span{
    color: white;
}

.switchsection span{
    color: #d6d5e9;
    font-size: 14px;
}

.switchsection .activesection{
    background-color: #1c1b1f;
    text-align: center;
    /* border-bottom: 1px solid #2f2929; */
}

.switchsection .activesection span{
    /* color: #1c15a1; */
}

.profile-block .pfimgblock{
    z-index: 3;
    position: absolute;
    top:80px;
}


.bkground{
    position: absolute;
    height: 165px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: #0e0c0c;
    background: url("https://images.alphacoders.com/996/996655.jpg");
    background-size: cover;
    border-bottom: 1px solid #2e2b38;
}

.profile-block .avatar{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background: white;
    margin: 0px;
}

.profile-block .txtblk1{
    font-family: system-ui;
    font-weight: 500;
    font-size: 24px;
    color: #d6d5e9;
    padding: 5px 0px;
}

.profile-block .txtblk2{
    font-family: system-ui;
    font-size: 14px;
    text-align: justify;
    color: #7f7d84;
}

.profile-block .followage-info{
    padding: 5px 0px;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    margin-top: 8px;
    line-height: 19px;
    position: absolute;
    top: 5px;
    right: 24px;
    display: inline-block;
    background: #1c1b1f;  
}

.profile-block .followage-info div{
    font-family: system-ui;
    font-size: 14px;
    color: #7c7b8e;
    display: inline-block;
}

.profile-block .followage-info div:first-child{
    margin-right: 15px;
}

.profile-block .followage-info div span:first-child{
    margin-right: 3px;
    font-weight: bold;
    color: aliceblue;
}

.follow-button{
    position: absolute;
    top: 177px;
    right: 25px;
    color: #1c1b1f;
    width: 72px;
    height: 28px;
    font-weight: 700;
    background: #ff2b63;
    text-align: center;
    line-height: 27px;
    font-size: 14px;
    border-radius: 4px;
    z-index: 999;
}

.edit-button {
    position: absolute;
    top: 177px;
    right: 25px;
    background: #1c1b1f;
    width: 72px;
    height: 28px;
    font-weight: 700;
    color: #ff2b63;
    text-align: center;
    line-height: 27px;
    font-size: 14px;
    border-radius: 4px;
    z-index: 999;
}

.follow-button:hover{
    color: #ff2b63;
    background: #1c1b1f;
}

.edit-button:hover{
    background: #ff2b63;
    color: #1c1b1f;
}
