
.wrapper{
    /* background: rgb(19 18 19); */
    background: rgba(19 18 19 /0.8);
    min-height: 100%;
    /* width: 100%; */
    padding-top: 100px;
}

.profile-block{
    padding-bottom: 10px;
    margin: auto;
    max-width: 640px;
    background: fuchsia;
    background: #0e0c0c;
    background: #1c1b1f;
    border-bottom: 1px solid black;
    font-family: system-ui;
}

.profile-block .imgsection{
    padding: 25px;
    position: relative;
}

.profile-block .txtsection{
    padding: 5px 25px 5px 25px;
}

.profile-block .pfimgblock{
    /* text-align: center; */
    /* background: rebeccapurple; */
    z-index: 3;
    position: relative;
}

.bkground{
    position: absolute;
    height: 165px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: #0e0c0c;
    background: url("https://pbs.twimg.com/profile_banners/2196922086/1597719412/600x200");
}

.profile-block .avatar{
    width: 120px;
    height: 120px;
    border-radius: 24px;
    background: white;
    border: 2px solid white;
}

.profile-block .txtblk1{
    font-family: system-ui;
    font-weight: bold;
    font-size: 24px;
    color: antiquewhite;
    padding: 5px 0px;
}

.profile-block .txtblk2{
    font-family: system-ui;
    font-size: 14px;
    text-align: justify;
    color: antiquewhite;
}

.follow-button{
    position:absolute;
    top: 145px;
    right: 25px;
    background: #fe2353;
    width: 72px;
    height: 36px;
    font-weight: 700;
    color: white; 
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    border-radius: 100px;
    z-index: 999;
}
