.button {
    display: flex;
    justify-content: center;
    
    background-color: #e50914;
    padding: 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0 12px;
    cursor: pointer;
    color: white;
}

.button a {
    color: white;
}