.avatar {
    margin: -3px -5px;
    border-radius: 50%;
    margin-right: 15px;
    width: 50px;
    height: 50px;
}

.row {
    display: flex;
}

.review-text {
    margin-top: 25px;
    font-family: sans-serif;
}