.avatar {
    margin: -3px -5px;
    border-radius: 50%;
    margin: 3px 15px 0px 3px;
    width: 50px;
    height: 50px;
}

.row {
    display: flex;
}

.likes {
    position: relative;
    display: flex;
    color: white;
    float: right;
}

.likes p{
    line-height: 15px;
}

.review-header {
    display: flex;
    justify-content: space-between;
}

.special {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.reviewer {
    color: #ff2b63;
}

.space {
    display: flex;
    justify-content: space-between;
}