
:root {
    font-size: 65%;

    --color-input-background: rgb(51 51 51);
    --color-input-text: rgb(133 136 123);
    --color-text-base: '#fff';
    --color-black: black;
    --black-transparency: rgb(0 0 0 / 78%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

h1 {
    font-size: 25px;
}

body {
    background: rgb(19 18 19);
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: system-ui;
}

body,
input,
button,
textarea {
    font: 500 1.6rem  system-ui;
    color: var(--color-text-base);
}
    
code {
    font-family: system-ui, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    width: 90vw;
    max-width: 700px;
}

.carousel-wrapper{
    padding: 15px;
}

.nav{
    padding: 8px 15px;
    margin-top: 10px;
    display: flex;
}

.nav-block{
    display: inline-block;
    min-height: 64px;
    color: antiquewhite;
    font-weight: 400;
    float: left;
}

.nav .activity{
    max-width: 30%;
    padding: 15px;
}

.nav .lists{
    max-width: 70%;
}
