.Logo {
  max-width: 120px;
}

.Menu {
  width: 100%;
  height: 8vh;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 5%;
  padding-right: 5%;

  background: black;
}
body {
  --bodyPaddingTop: 0px;
  padding-top: var(--bodyPaddingTop);
}

.user-icon {
  border: 1px solid red;
  border-radius: 0.9rem;
  color: red;
  font-size: 15px;
  padding: 5px;
}