.search-block{
    position: relative;
    padding-bottom: 100px;
}

.filter-section{
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-flex;
}

.filter-section .grey-button{
    position: static;
    margin: 5px;
}

.result-block{
    margin: auto;
    max-width: 650px;
    font-family: system-ui;
    position: relative;
}

.result-node{
    background: rgb(28,27,31);
    padding: 16px;
    display: flex;
    border-bottom: 1px solid #2f29296b;
    margin-bottom: 12px;
}

.movie-box{
    position: relative;
    display: inline-block;
    text-align:center;
    min-height: 60px;
    float: left;
}  

.content-box{
    display: inline-block;
    min-height: 64px;
    color: #bbbbbb;
    font-weight: 400;
    float: left;
}

.movie-img{
    /* max-height: 300px; */
    width: 250px;
    margin-top: 10px;
}

.result-node .summary{
    padding-bottom: 0px;
}

.film-result-genres{
    padding: 24px 0px;
}

.film-result-genres span {
    color: #ff2a5b;
    font-weight: bold;
    border: 1px solid;
    padding: 5px 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: inline-flex;
}

.result-node .card{
    border: 0px solid !important;
}

.film-result-date {
    font-weight: bold;
    color: #76748a;
}