
.wrapper{
    background: rgb(19 18 19);
    height:100%;
    padding-top: 100px;
}

.profile-block{
    padding-bottom: 20px;
    margin: auto;
    max-width: 600px;
    background: fuchsia;
    background: #0e0c0c;
    background: #1c1b1f;
    border-bottom: 1px solid black;
}

.profile-block .pfsection{
}

.profile-block .imgsection{
    padding: 25px;
}

.profile-block .txtsection{
    padding: 5px 25px 5px 25px;
}

.profile-block .pfimgblock{
}

.profile-block .avatar{
    border-radius: 120px;
    width: 120px;
    height: 120px;
}

.profile-block .txtblk1{
    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
    color: antiquewhite;
    padding: 5px 0px;
}

.profile-block .txtblk2{
    font-family: monospace;
    font-size: 14px;
    text-align: justify;
    color: antiquewhite;
}