.form-title {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin: 0 130px 10px 0;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    border: 1px solid;
    border-radius: 0.8em;
    padding-top: 50px;
    background: rgb(14 13 14 / 97%);
    margin: 0 auto -236px;
    min-height: 100vh;
}

h1 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin: 0 130px 10px 0;
}

.ant-form {
    margin-bottom: 25px;
    background-color: rgb(18 17 18);
    border-radius: 4px;
    border: 1px solid #27222d;
    padding: 24px 48px; 
    width: 32em;
}

.ant-checkbox + span{
    line-height: 14px;
}

.remember-me {
    display: flex;
    margin-top: 25px;
    color: white;
}

p {
    color: white;
}

.button {
    display: flex;
    justify-content: center;
    
    width: 100%;
    background-color: #e50914;
    padding: 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0 12px;
    cursor: pointer;
    color: white;
}